<div class="notice">
  <%= notice %>
</div>

<h1> Welcome <%= current_user.name %> </h1>

<h2> All Users </h2>
<ul>
  <% @users.each do |user| %>
    <% unless @users.include?(@friends) %>
      <li><%= user.name %><%= button_to 'Send Friend Request', friend_requests_path(recipient_id: user.id), method: :post %></li>
    <% end %>
  <% end %>
</ul>

<h2> Your Friends </h2>
<ul>
<% if @friends %>
  <% @friends.each do |friend| %>
    <li><%= friend.name %></li>
    <%= button_to 'Unfriend', friend_request_path(friend.friend_requests), method: :delete %>
  <% end %>
<% else %>
  <li>You have no friends</li>
<% end %>
</ul>

<%= button_to 'Logout', destroy_user_session_path, method: :delete %>


<%= link_to 'Friend Requests', friend_requests_path %><br>
<%= link_to 'Edit account', edit_user_registration_path %>

